@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaa;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999;
  }